.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.box{
    margin: 50px 0px;
    height: 100px;
    width: 100px;
}
.red{
    background-color: red;
}
.yellow{

    background-color: yellow;
}
.green{
    background-color: green;
}